body {
  text-align: center;
  font-size: 25px;
  background-color: #90caf9;
  color: rgb(68, 63, 63);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a:link {
  text-decoration: none;
}
nav {
  width: 90%;
  margin: 0 auto;
  background-color: #1a88c7;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
  color: rgb(216, 219, 228);
  font-size: 45px;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  position: relative;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

input {
  font-size: 15px;
  background-color: rgb(214, 214, 214);
  border-color: rgb(214, 214, 214);
  border-style: solid;
}

option {
  background-color: white;
}

h1 {
  font-size: 45px;
}
a {
  color: #1a88c7;
  transition: all 0.5s ease;
}
select {
  font-size: 15px;
  background-color: rgb(214, 214, 214);
  border-style: solid;
}
a:hover {
  background-color: white;
  color: #1a88c7;
}
form {
  display: inline-block;
  background-color: rgb(8, 178, 184);
  border-radius: 30px;
  width: 330px;
  height: 345px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff;
}
#recapitulatif {
  display: inline-block;
  background-color: #09a399;
  border-radius: 30px;
  width: 600px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(86, 86, 98);
}
#avions {
  width: 50%;
  margin: 0 auto;
  background-color: #1ac762;
  position: sticky;
  top: 0px;
}
div ul {
  list-style-type: none;
  color: #1a88c7;
  font-size: 30px;
}
div li {
  float: left;
  width: 25%;
  text-align: center;
  background-color: #ffffff;
}
div li:hover {
  background-color: #1a88c7;
  color: #ffffff;
}
h2 {
  font-size: 40px;
}
.box1 {
  float: left;
  background-color: #5ca0c7;
  color: #ffffff;
  width: 90%;
  height: 400px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.box2 {
  float: right;
  background-color: #bacfd8;
  color: #1a88c7;
  width: 90%;
  height: 400px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.box1 p {
  text-align: left;
  position: relative;
  left: 360px;
  top: 35px;
}
.box1 img {
  position: relative;
  left: 25%;
  bottom: 30%;
  border-style: solid;
}
.box2 p {
  text-align: right;
  position: relative;
  right: 360px;
  top: 35px;
}
.box2 img {
  position: relative;
  right: 25%;
  bottom: 30%;
  border-style: solid;
}
.box3 {
  float: left;
  background-color: #c73d3d;
  color: #ffffff;
  width: 90%;
  height: 400px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}

.box3 p {
  text-align: left;
  position: relative;
  left: 360px;
  top: 35px;
}
.box3 img {
  position: relative;
  left: 50%;
  bottom: 220px;
  border-style: solid;
}
.box4 {
  float: right;
  background-color: #f5e9e9;
  color: #ec1f1f;
  width: 90%;
  height: 400px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}

.box4 p {
  text-align: right;
  position: relative;
  right: 320px;
}
.box4 img {
  position: relative;
  right: 50%;
  bottom: 170px;
  border-style: solid;
}
#bas {
  font-size: 20px;
}
footer {
  font-size: 20px;
  background: linear-gradient(to right, rgb(0, 195, 255), rgb(26, 179, 133));
  width: 90%;
  display: inline-block;
  color: rgb(68, 63, 63);
  margin-top: 60px;
  border-style: solid;
  border-width: 5px;
}
footer a {
  color: rgb(68, 63, 63);
}
@media screen and (max-width: 800px) {
  #banniere {
    height: 150px;
    width: 100%;
  }
  nav ul li {
    width: 100%;
  }
  nav {
    width: 100%;
  }
}
